<!doctype html>
<html>
<head>
    <title>React Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="<%= static_directory %>demo.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id='root' class="root">
</div>
<script src="<%= static_directory %>demo.js"></script>
</body>
</html>